<div class="container">
  <div class="row">
    <div class="div col-xs-12">
      <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <legend for="name">Recipe Name</legend>
              <input
                type="text"
                id="name"
                class="form-control"
                formControlName="recipeName"
              />
            </div>
          </div>
        </div>

        <legend>Ingredients</legend>
        <div
          class="ingredients-container container"
          formArrayName="ingredients"
        >
          <div
            *ngFor="let ingredientForm of ingredients.controls; let i = index"
          >
            <div class="row" [formGroup]="$any(ingredientForm)">
              <div class="col-2 col-md-1 mt-4">
                <button
                  class="delete-btn"
                  (click)="deleteIngredient(i)"
                  class="btn btn-danger"
                >
                  X
                </button>
              </div>
              <div class="col-5 col-md-1">
                <label> Quantity</label>
                <input
                  type="number"
                  class="form-control"
                  formArrayName="ingredientQuantity"
                />
              </div>
              <div class="col-5 col-md-1">
                <label> Unit</label>
                <input
                  type="text"
                  class="form-control"
                  formArrayName="ingredientUnit"
                />
              </div>
              <div class="col-12 col-md-9">
                <label> Name</label>
                <input
                  type="text"
                  class="form-control"
                  formArrayName="ingredientName"
                />
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-light" (click)="addIngredient()">
            Add Recipe
          </button>
        </div>

        <legend>Instructions</legend>
        <div class="instruction-container" formArrayName="instructions">
          <div
            class="row"
            *ngFor="let instructionForm of instructions.controls; let i = index"
          >
            <div [formGroup]="$any(instructionForm)" class="row">
              <div class="col-3 col-md-1">
                <button (click)="deleteInstruction(i)" class="btn btn-danger">
                  X
                </button>
              </div>
              <div class="col-9 col-md-11">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    formArrayName="instruction"
                  />
                </div>
              </div>
            </div>
          </div>
          <button
            type="button"
            class="btn btn-light"
            (click)="addInstruction()"
          >
            Add Instruction
          </button>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Add Recipe</button>
      </form>
    </div>
  </div>
</div>
