<div class="container">
  <div class="row">
    <div class="div col-xs-12">
      <form [formGroup]="recipeForm">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="name">Recipe Name</label>
              <input
                type="text"
                id="name"
                class="form-control"
                formControlName="recipeName"
              />
            </div>
          </div>
        </div>

        <legend>Ingredients</legend>
        <div class="ingredients-container">
          <div class="row">
            <div class="col-1">
              <div class="form-group">
                <input
                  type="number"
                  id="quantity"
                  class="form-control"
                  formControlName="ingredientQuantity"
                />
              </div>
            </div>
            <div class="col-1">
              <div class="form-group">
                <input
                  type="text"
                  id="unit"
                  class="form-control"
                  formControlName="ingredientUnit"
                />
              </div>
            </div>
            <div class="col-9">
              <div class="form-group">
                <input
                  type="text"
                  id="ingredientName"
                  class="form-control"
                  formControlName="ingredientName"
                />
              </div>
            </div>
            <div class="col-1">
              <div class="form-group">
                <button>X</button>
              </div>
            </div>
          </div>
          <button>Add</button>
        </div>

        <legend>Instructions</legend>
        <div class="instruction-container">
          <div class="row">
            <div class="col-1">
              <div class="form-group">
                <input
                  type="number"
                  id="quantity"
                  class="form-control"
                  formControlName="ingredientQuantity"
                />
              </div>
            </div>
            <div class="col-1">
              <div class="form-group"><button>+</button></div>
            </div>
            <div class="col-1">
              <div class="form-group">
                <button>X</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
