<div class="list-group-item clearfix">
  <div class="container recipe-item-container">
    <div class="row">
      <div
        class="col-12 col-md-7 row justify-content-md-center order-2 order-md-1"
      >
        <div style="max-width: 40rem">
          <h4 class="list-group-item-heading" (click)="showControls()">
            {{ recipe.name }} >>
          </h4>
        </div>
      </div>
      <!--  <p class="list-group-item-text">{{ recipe.description }}</p>
      <span class="col-12 col-md-5 order-1 order-md-2">
        <img
          [src]="recipe.imagePath"
          alt="{{ recipe.name }}"
          class="img-fluid px-0"
          style="max-height: 8rem"
        />
      </span>-->
    </div>
    <div
      class="d-flexflex-md-row justify-content-center"
      *ngIf="showControlPanel === true"
    >
      <button
        type="button"
        class="btn btn-primary"
        (click)="ingredientClickHandler()"
      >
        Ingre
      </button>
      <button
        type="button"
        class="btn btn-primary"
        (click)="instructionsClickHandler()"
      >
        Instru
      </button>
      <button
        type="button"
        class="btn btn-warning"
        (click)="advanceClickHandler()"
      >
        Ad>>
      </button>
      <div *ngIf="showAdvanceOptions === true">
        <button type="button" class="btn btn-warning">Edit</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
    <div>
      <div class="row" *ngIf="showIngredients === true">
        <div class="col">
          <h2>Ingredients</h2>
          <ul>
            <li *ngFor="let ingredient of recipe.ingredients">
              {{ ingredient.amount }} {{ ingredient.unit }}
              {{ ingredient.name }}
            </li>
          </ul>
        </div>
      </div>
      <div class="row" *ngIf="showInstructions === true">
        <div class="col">
          <h2>Instruction</h2>
          <ul>
            <li *ngFor="let instructionEl of recipe.instructions">
              {{ instructionEl }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
